header {
    height: 176px;
    width: 100%;
    background-color: #87CEEB;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

header i {
    font-size: 100px;
}

.header-title {
    padding-top: 1.8%;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 64px;
}

header a{
    text-decoration: none;
    color: inherit;
}